.nav-dropdown {
    position: relative;
}

    .nav-dropdown:hover > .nav-dropdown-children {
        display: initial;
    }

.nav-dropdown-children {
    display: none;
    z-index: 10;
    position: absolute;
    background: #f8f9fa;
    width: 200px;
}

.current {
    font-weight: bold;
}
