@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesOverview>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "Master.cshtml";
    }

    @{
    var selection = Model.Content.Site().FirstChild("articlesOverview").Children("articleItem")
    .Where(x => x.IsVisible());
    }
    <h2 class="text-light bg-dark p-4">Articles</h2>
    <ul>
        @foreach(var item in selection){
        <li>
            <a href="@item.Url">@item.Name</a>
        </li>
        }
    </ul>


