@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@if(!Members.GetCurrentLoginStatus().IsLoggedIn) {
    @Html.Partial("login")
} else 
{
    <p>You are currently logged in as @Members.GetCurrentLoginStatus().Name</p>
}
