@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h3>Project</h3>
<h2 class="display-3 text-light bg-dark p-4 mb-5">@Umbraco.Field("projectTitle")</h2>

<h3>About this project</h3>
<div class="text-dark bg-light p-4">
    @Umbraco.Field("projectDescription")
</div>
