@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ 
int numOfProjects = Convert.ToUInt16(Model.MacroParameters["numOfProjects"]);
IPublishedContent[] latestProjects = 
Model.Content.AncestorOrSelf(1)
.Children
.Where(x => x.DocumentTypeAlias == "projectsOverview")
.First()
.Children
.Where(x => x.HasValue("projectStatus") && Umbraco.GetPreValueAsString(x.GetPropertyValue<int>("projectStatus")) == "Completed")
.OrderBy("CreateDate desc").Take(numOfProjects).ToArray(); }

<ul class="grid-box">
        @foreach(IPublishedContent page in latestProjects) 
        {
            <li class="grid-box__item">
                <a class="nav-link square-link bg-light text-dark border border-dark rounded" href="@page.Url">@page.Name</a>
            </li>
        }
</ul>