@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ 
IPublishedContent[] latestProjects = 
Model.Content.AncestorOrSelf(1)
.Children
.Where(x => x.DocumentTypeAlias == "projectsOverview")
.First()
.Children
.OrderBy("CreateDate desc").ToArray(); 
}

<ul class="nav-dropdown-children">
        @foreach(IPublishedContent page in latestProjects) 
        {
            <li>
                <a class="nav-link" href="@page.Url">@page.Name</a>
            </li>
        }
</ul>